@import "../../functions";
@import "syntax/light";


// Default: Light theme
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --background-color: #{$white};

  // Texts colors
  --color: #{$grey-700};
  --h1-color: #{$grey-900};
  --h2-color: #{mix($grey-900, $grey-800)};
  --h3-color: #{$grey-800};
  --h4-color: #{mix($grey-800, $grey-700)};
  --h5-color: #{$grey-700};
  --h6-color: #{mix($grey-700, $grey-600)};

  // Muted colors
  --muted-color: #{$grey-500};
  --muted-border-color: #{$grey-50};

  --muted: #{$grey-50};
  --muted-hover: #{$grey-200};
  --muted-focus: #{rgba($grey-100, 0.25)};
  --muted-inverse: #{$black};

  // Primary colors
  --primary: #{$primary-600};
  --primary-hover: #{$primary-700};
  --primary-focus: #{rgba($primary-600, 0.125)};
  --primary-inverse: #{$white};

  // Secondary colors
  --secondary: #{$grey-600};
  --secondary-hover: #{$grey-700};
  --secondary-focus: #{rgba($grey-600, 0.125)};
  --secondary-inverse: #{$white};

  // Contrast colors
  --contrast: #{$grey-900};
  --contrast-hover: #{$black};
  --contrast-focus: #{rgba($grey-600, 0.125)};
  --contrast-inverse: #{$white};

  // Highlighted text (<mark>)
  --mark-background-color: #{mix($amber-100, $amber-50)};
  --mark-color: #{mix($grey-900, $amber-900, 75%)};

  // Inserted (<ins>) & Deleted (<ins>)
  --ins-color: #{$green-700};
  --del-color: #{$red-800};

  // Blockquote
  --blockquote-border-color: var(--muted-border-color);
  --blockquote-footer-color: var(--muted-color);

  // Button
  // To disable box-shadow, remove the var or set to '0 0 0 rgba(0, 0, 0, 0)'
  // Don't use, 'none, 'false, 'null', '0', etc.
  --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);

  // Form elements
  --form-element-background-color: transparent;
  --form-element-border-color: #{$grey-300};
  --form-element-color: var(--color);
  --form-element-placeholder-color: var(--muted-color);
  --form-element-active-background-color: transparent;
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --form-element-disabled-background-color: #{$grey-100};
  --form-element-disabled-border-color: #{$grey-300};
  --form-element-disabled-opacity: 0.5;
  --form-element-invalid-border-color: #{$red-800};
  --form-element-invalid-active-border-color: #{$red-700};
  --form-element-invalid-focus-color: #{rgba($red-700, 0.125)};
  --form-element-valid-border-color: #{$green-700};
  --form-element-valid-active-border-color: #{$green-600};
  --form-element-valid-focus-color: #{rgba($green-600, 0.125)};

  // Switch (input[type="checkbox"][role="switch"])
  --switch-background-color: #{$grey-200};
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);

  // Range (input[type="range"])
  --range-border-color: #{$grey-100};
  --range-active-border-color: #{$grey-200};
  --range-thumb-border-color: var(--background-color);
  --range-thumb-color: var(--secondary);
  --range-thumb-hover-color: var(--secondary-hover);
  --range-thumb-active-color: var(--primary);

  // Table
  --table-border-color: var(--muted-border-color);
  --table-row-stripped-background-color: #{mix($grey-50, $white)};

  // Code
  --code-background-color: #{$grey-50};
  --code-color: var(--code-zola-color);
  --code-kbd-background-color: var(--contrast);
  --code-kbd-color: var(--contrast-inverse);
  --code-tag-color: #{hsl(330, 40%, 50%)};
  --code-property-color: #{hsl(185, 40%, 40%)};
  --code-value-color: #{hsl(40, 20%, 50%)};
  --code-comment-color: #{$grey-300};

  @include lightSyntax;

  // Accordion (<details>)
  --accordion-border-color: var(--muted-border-color);
  --accordion-close-summary-color: var(--color);
  --accordion-open-summary-color: var(--muted-color);

  // Card (<article>)
  $box-shadow-elevation: 1rem;
  $box-shadow-blur-strengh: 6rem;
  $box-shadow-opacity: 0.06;
  --card-background-color: var(--background-color);
  --card-border-color: var(--muted-border-color);
  --card-box-shadow:
    #{($box-shadow-elevation * 0.5 * 0.029)} #{($box-shadow-elevation * 0.029)} #{($box-shadow-blur-strengh * 0.029)} #{rgba($grey-900, ($box-shadow-opacity * 0.283))},
    #{($box-shadow-elevation * 0.5 * 0.067)} #{($box-shadow-elevation * 0.067)} #{($box-shadow-blur-strengh * 0.067)} #{rgba($grey-900, ($box-shadow-opacity * 0.4))},
    #{($box-shadow-elevation * 0.5 * 0.125)} #{($box-shadow-elevation * 0.125)} #{($box-shadow-blur-strengh * 0.125)} #{rgba($grey-900, ($box-shadow-opacity * 0.5))},
    #{($box-shadow-elevation * 0.5 * 0.225)} #{($box-shadow-elevation * 0.225)} #{($box-shadow-blur-strengh * 0.225)} #{rgba($grey-900, ($box-shadow-opacity * 0.6))},
    #{($box-shadow-elevation * 0.5 * 0.417)} #{($box-shadow-elevation * 0.417)} #{($box-shadow-blur-strengh * 0.417)} #{rgba($grey-900, ($box-shadow-opacity * 0.717))},
    #{($box-shadow-elevation * 0.5)} #{$box-shadow-elevation} #{$box-shadow-blur-strengh} #{rgba($grey-900, $box-shadow-opacity)},
    0 0 0 0.0625rem #{rgba($grey-900, ($box-shadow-opacity * 0.25) )};
  --card-sectionning-background-color: #{mix($grey-50, $white, 25%)};

  // Dropdown (<details role="list">)
  --dropdown-background-color: #{mix($grey-50, $white, 25%)};
  --dropdown-border-color: #{mix($grey-100, $grey-50)};
  --dropdown-box-shadow: var(--card-box-shadow);
  --dropdown-color: var(--color);
  --dropdown-hover-background-color: #{$grey-50};

  // Modal (<dialog>)
  --modal-overlay-background-color: #{rgba($grey-100, 0.7)};

  // Progress
  --progress-background-color: #{$grey-100};
  --progress-color: var(--primary);

  // Loading ([aria-busy=true])
  --loading-spinner-opacity: 0.5;

  // Tooltip ([data-tooltip])
  --tooltip-background-color: var(--contrast);
  --tooltip-color: var(--contrast-inverse);

  // Icons
  --icon-checkbox: #{make-icon("checkbox", $grey-700, 4, "none")};
  // --icon-chevron: #{make-icon("chevron", $grey-700, 2, "none")};
  // --icon-chevron-button: #{make-icon("chevron-button", $white, 2, "none")};
  // --icon-chevron-button-inverse: #{make-icon("chevron-button-inverse", $white, 2, "none")};
  --icon-close: #{make-icon("close", $grey-500, 4, "none")};
  // --icon-date: #{make-icon("date", $grey-700, 2, "none")};
  --icon-external: #{make-icon("external", $grey-700, 2, "none")};
  // --icon-github: #{make-icon("github", $grey-500, 2, "none")};
  // --icon-invalid: #{make-icon("invalid", $red-800, 2, "none")};
  // --icon-minus: #{make-icon("minus", $white, 4, "none")};
  // --icon-moon: #{make-icon("moon", $grey-500, 2, "none")};
  // --icon-rss: #{make-icon("rss", $grey-500, 2, "none")};
  --icon-search: #{make-icon("search", $grey-700, 2, "none")};
  // --icon-sun: #{make-icon("sun", $grey-500, 2, "none")};
  // --icon-time: #{make-icon("time", $grey-700, 2, "none")};
  // --icon-valid: #{make-icon("valid", $grey-700, 3, "none")};
  --icon-theme-switch: #{make-icon("sun", $grey-700, 2, "none")};

  --icon-stroke-color: #{to-rgb($grey-700)};
  --icon-stroke-inverse-color: #{to-rgb($grey-100)};

  // Document
  color-scheme: light;

  // Nav
  --nav-background-color: #{rgba($white, 0.7)};
  --nav-border-color: #{rgba($grey-500, 0.2)};
  --nav-logo-color: #{$white};
}
